@mangoweb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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 # user: mangoweb-maintenance, token: npm read

legacy-peer-deps=true # @TODO: remove after contember supports React 18
